
<hr>
<div class='main_container'>
  <form action='/login' method='POST' class='form_container'>
    <h2>Login</h2>
    <div class='userInformation'>

    
        <label for='myEmail'>Email:</label>
        {{! whhatever i put in the name attribute becomes the key in the body of the request because form method is set to post }}
        <input id='myEmail' type='email' name='email' placeholder='Email' />
    
        <label for='myPassword'>Password:</label>
        <input
          id='myPassword'
          type='password'
          name='password'
          placeholder='Password'
        />
     

      {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
      {{/if}}


    <button type='submit'>Login</button>

  </form>
  <hr>
 

  <footer>
    <nav>
      <li>Fitnessa</li>
      <li>Apparel</li>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Support</li>
      <li>&copy 2022 Fitnessa, Inc. All rights reserved.</li>
    </nav>

  </footer>
   <div class="socials">
    <i class='fa-brands fa-twitter social'></i>
    <i class='fa-brands fa-facebook social'></i>
    <i class='fa-brands fa-instagram social'></i>

  </div>
  <div class='api_container'>

    {{#each api.data.results}}

      <img src='{{image}}' alt='' class='api_img' />
    {{/each}}
  </div>

</div>
{{! script here }}