<div class='main_container'>
  <form action='/contact' method='POST' class='form_container'>
    <h2>Send Email!</h2>
    <div class='email_and_password'>

      <div>
        <label for='myEmail'></label>
        Email:
        {{! whhatever i put in the name attribute becomes the key in the body of the request because form method is set to post }}
        <input id='myEmail' type='email' name='userEmail' placeholder='Enter your email' />
      </div>
      <div>
        <label for='mySubject'></label>
        Subject:
        <input
          id='mySubject'
          type='text'
          name='userSubject'
          placeholder="Enter your subject"
          
        />
      </div>
      <div>
          <label for="myMessage"></label>
          Message:
            </div>
  <textarea type="text" name="message" id="myMessage" rows="4" cols="45" placeholder="Type your message here"></textarea>
    

      {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
      {{/if}}
    </div>

    <button type='submit'>Submit</button>

  </form>