<div
  data-ride='carousel'
  class='carousel slide'
  data-interval='12000'
  id='carousel-example-generic'
>
  <div class='carousel-inner'>
    <div class='carousel-item active'>
      <img
        src='images/swimmingworkout.jpg'
        class='d-block w-100 carousel_img'
        alt='...'
      />
    </div>
    <div class='carousel-item'>
      <img
        src='images/beachrun.jpg'
        class='d-block w-100 carousel_img'
        alt='...'
      />
    </div>
    <div class='carousel-item'>
      <img src='images/kettle.jpg' class='d-block w-100' alt='...' />
    </div>

  </div>

</div>
<section id='body_transformations'>
  <h1>Body Transformation</h1>
  <div class='bodyImg'>
    <img
      src='images/femaletransform.jpg'
      class='img-thumbnail rounded transformation_imgs'
      alt='...'
    />
    <img
      src='images/maletransform.jpg'
      class='img-thumbnail rounded transformation_imgs'
      alt='...'
    />
  </div>
  <div class='bodyImg2'>
    <img
      src='images/femaletransform2.jpg'
      class='img-thumbnail rounded transformation_imgs'
      alt='...'
    />
    <img
      src='images/transformation.jpg'
      class='img-thumbnail rounded transformation_imgs'
      alt='...'
    />
  </div>
</section>
<footer>
  <nav>
    <li>About Us</li>
    <li>Support</li>

    <li>Privacy</li>
    <li>Terms</li>
    <li>&copy 2022 Fitnessa, Inc. All rights reserved.</li>
  </nav>

  <div>
    <i class='fa-brands fa-twitter social'></i>
    <i class='fa-brands fa-facebook social'></i>
    <i class='fa-brands fa-instagram social'></i>

  </div>
</footer>