<hr>
<form id='search'>

  <input type='text' placeholder='Search for...' />
</form>
<div class='gym_workouts_container'>
  {{#each api.data}}
    <div class='workout_card'>

      <h1>{{equipment}}</h1>
      <img src='{{gifUrl}}' alt='' class='workout_gifs' />
    </div>
  {{/each}}

</div>
<footer>
  <nav>
    <li>About Us</li>
    <li>Support</li>

    <li>Privacy</li>
    <li>Terms</li>
    <li>&copy 2022 Fitnessa, Inc. All rights reserved.</li>
  </nav>

  <div>
    <i class='fa-brands fa-twitter social'></i>
    <i class='fa-brands fa-facebook social'></i>
    <i class='fa-brands fa-instagram social'></i>

  </div>
</footer
<script src='/js/lib/script.js'></script>
<script src='/js/views/users/workouts.js'></script>