body {
  background-color: #201c2b;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedOut_nav {
  display: flex;
  flex-direction: column;
}
.loggedOut_nav a {
  color: white;
  margin-top: 15px;
}
.loggedOut_nav i {
  color: white;
  margin-right: 15px;
}

.loggedIn_nav {
  display: flex;
  flex-direction: column;
}
.loggedIn_nav a {
  color: white;
  margin-top: 15px;
}
.loggedIn_nav i {
  color: white;
  margin-right: 15px;
}
.loggedIn_nav li {
  list-style-type: none;
}
.logoutButton {
  list-style-type: none;

  color: white;
}

.myProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_img {
  height: 250px;
}

#app_details {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#app_detailsTwo {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  text-align: center;
}
#blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #201c2b;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.userInformation {
  display: flex;
  flex-direction: column;

  width: 200px;
}
.api_container {
  display: none;
}
.calculator_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 25px;
}
.inside_calculator_container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer li {
  list-style-type: none;
  text-align: center;
  margin-top: 15px;
}

footer div {
  margin-top: 15px;
}
.signup_and_loginButton {
  margin-top: 25px;
}
.socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heart_img {
  height: 30px;
  width: 30px;
}
.heart_img2 {
  height: 30px;
  width: 30px;
}
