
<hr>
<div class='main_container_edit'>


  <form
    action='/users/{{_id}}/edit'
    method='POST'
    class='form_container'
    {{! enctype='multipart/form-data' }}
  >
 <div class='userInformation'>
    <label for='myName'>Name:</label>
    <input id='myName' type='text' name='name' placeholder='Name' />

    <label for='myTime'>Time:</label>
    <input id='myTime' type='text' name='time' placeholder='Workout Time' value="{{time}}"/>

     <label for='myWeight'>Weight:</label>
    <input id='myWeight' type='text' name='weight' placeholder='weight' value="{{weight}}"/>
</div>
    {{! <label for='myImage'>Image:</label>
    <input type='file' name='profile-image' /> }}

    <button type='submit'>Save Changes</button>

  </form>
  <footer>
  <nav>
    <li>About Us</li>
    <li>Support</li>

    <li>Privacy</li>
    <li>Terms</li>
    <li>&copy 2022 Fitnessa, Inc. All rights reserved.</li>
  </nav>

  <div>
    <i class='fa-brands fa-twitter social'></i>
    <i class='fa-brands fa-facebook social'></i>
    <i class='fa-brands fa-instagram social'></i>

  </div>
</footer
</div>