<div class='myProfile'>

  <a href='/users/{{userInSession._id}}/edit'>EDIT</a>
  <img src='{{userInSession.image}}' alt='' class='profile_img' />

  <h1>{{userInSession.name}}</h1>
  <p>Workout Time:{{userInSession.time}}</p>

</div>