<hr />
<div class='myProfile'>

  <a href='/users/{{userInSession._id}}/edit'>EDIT</a>
  <img src='{{userInSession.image}}' alt='' class='profile_img' />

  <h1>{{userInSession.name}}</h1>
  <p>Workout Time:{{userInSession.time}}</p>

</div>
<hr />
<footer>
  <nav>
    <li>About Us</li>
    <li>Support</li>

    <li>Privacy</li>
    <li>Terms</li>
    <li>&copy 2022 Fitnessa, Inc. All rights reserved.</li>
  </nav>

  <div>
    <i class='fa-brands fa-twitter social'></i>
    <i class='fa-brands fa-facebook social'></i>
    <i class='fa-brands fa-instagram social'></i>

  </div>
</footer>
<hr />
<script src='/js/lib/script.js'></script>